# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/boxer0361857/portalboxer"
PassengerBaseURI "/"
PassengerNodejs "/home/boxer0361857/nodevenv/portalboxer/22/bin/node"
PassengerAppType node
PassengerStartupFile src/server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv DB_HOST localhost
SetEnv DB_NAME boxer0361857_bmax
SetEnv DB_PASS boxer0361857_bmaxuser
SetEnv DB_PORT 3306
SetEnv DB_USER boxer0361857_bmaxuser
SetEnv JWT_SECRET super_secreto
SetEnv RD_CLIENT_ID 43dce52b-502e-479e-8927-344b6ad1ec93
SetEnv RD_CLIENT_SECRET 7a777f8d924f40268976d0d4163160c8
SetEnv RD_REDIRECT_URI http://bmax.boxersoldas.com.br/api/rd/callback
SetEnv SMTP_HOST smtp.gmail.com
SetEnv SMTP_PORT 587
SetEnv SMTP_USER ayrtonduarteoliveira796@gmail.com
SetEnv SMTP_PASS uhny wiby zwmv fprv
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END